body{
	font-family: 'Raleway', sans-serif;
	background-color: #f6f6f6;
	font-weight: 300;
}
a {
  color: inherit; 
  text-decoration: inherit;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.cabecera{
	width: 100%;
	height: 60px;
	padding-top: 20px;
	background-color: #f6f6f6;
	position: fixed;
	top: 0;
	z-index: 1000;
}
.elementosCabecera{
	width: 1180px;
	margin: 0 auto;
	/*margin-top: 65px;*/
}
.logo{
	width: 200px;
	height: 30px;
	float: left;
}
.menu{
	float: right;
}
.menu li{
	display:inline;
	margin-left: 35px;
	margin-right: 35px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 2px;
	color: #262626;
}
.contenedor{
	width: 1180px;
	margin: 0 auto;
	margin-top: 80px;
	background-color: white;
}
.imagenesBanner{
	position: relative;
}
.imagenesBanner .imagen{
	width: 1180px;
	height: 592px;
}
.imagenesBanner .titulo{
	width: 600px;
	height: 25px;
	display: block;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -300px;
	font-size: 20px;
	color: white;
	text-transform: uppercase;
}
.imagenesBanner .descripcion{
	width: 900px;
	height: 60px;
	text-align: center;
	font-size: 30px;
	position: absolute;
	top: 50%;
	margin-top: 30px;
	left: 50%;
	margin-left: -450px;
	color: white;
	text-transform: uppercase;
}
.imagenesBanner .pie{
	width: 600px;
	text-align: center;
	font-size: 14px;
	position: absolute;
	top: 50%;
	margin-top: 110px;
	left: 50%;
	margin-left: -300px;
	color: white;
	text-transform: uppercase;
}
.contenedorSlider{
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
.flechaIzquierda{
	position: absolute;
	top: 50%;
	width: 2%;
	opacity: 0.3;
}
.flechaDerecha{
	position: absolute;
	top:50%;
	width: 2%;
	opacity: 0.3;
	left: 98.1%;
}
.contieneCajas{
	position: absolute;
	width: 100%;
	height: 1%;
	text-align: center;
	top: 90%;
}
.cajaSlide{
	width: 0.5%;
	height: 100%;
	border: 0.5px solid #cfb282;
	display: inline-block;
}
.introduccion{
	text-align: center;
	margin-top: 45px;
}
.introduccion .texto{
	width: 50%;
	margin: 0 auto;
	margin-top: 25px;
	font-size: 16px;
	text-align: center;
	color: grey;
}
.features{
	width: 1060px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 80px;
}
.features .descripcion{
	width: 300px;
	height: 245px;
	background-color: white;
	float: left;
}
.features .descripcion .titulo{
	color: #cfb282;
	text-transform: uppercase;
	font-size: 18px;
	margin: 20px 0;
	float: left;
}
.features .descripcion .textoDescripcion{
	color: grey;
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 18px;
	margin-top: 60px;
}
.features .descripcion .flecha{
	margin-top: 20px;
	transition: .5s ease;
}
.cajaProductos{
	width: 708px;
	float: right;
	display: inline-block;
}
.features .producto{
	width: 236px;
	height: 245px;
	float: right;
	display: inline-block;
	position: relative;
}
.features .producto img{
	width: 236px;
	height: 245px;
}
.cajaFantasma{
	width: 220px;
	height: 235px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -117.5px;
	margin-left: -110px;
	text-align: center;
	opacity: 0;
	transition: .5s ease;
}
.cajaFantasma .titulo{
	font-size: 18px;
	margin-top: 100px;
}
.cajaFantasma .subTitulo{
	font-size: 12px;
	margin-top: 5px;
}
.cajaFantasma .rayita{
	width: 20px;
	display: inline-block;
	border-bottom: 1px solid #cfb282;
}
.cajaVideoTexto{
	width: 1060px;
	border-top: 1px solid #909090;
	border-bottom: 1px solid #909090;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 80px;
}
.cajaVideoTexto .video{
	 width: 560px;
	 height: 315px;
	 display: inline-block;
	 vertical-align: top;
}
.videoTexto{
	width: 395px;
	height: 315px;
	margin-left: 100px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
}
.videoTexto .titulo{
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 25px;
	letter-spacing: 2px;

}
.videoTexto .subTitulo{
	color: #cfb282;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 25px;
	letter-spacing: 2px;
}
.videoTexto .parrafo{
	color: grey;
	letter-spacing: 2px;
	line-height: 18px;
}
.videoTexto .credito1{
	margin: 20px 0;
	margin-top: 40px;
	text-transform: uppercase;
	font-size: 20px;
}
.videoTexto .credito2{
	margin: 20px 0;
	text-transform: uppercase;
	color: #cfb282;
	font-size: 20px;
}
.videoTexto .credito3{
	margin: 20px 0;
	text-transform: uppercase;
	font-size: 20px;
}
.portafolio{
	width: 1060px;
	margin: 0 auto;
	margin-top: 80px;
}
.portafolio .introduccion{
	margin-top: 30px;
	color: grey;
	margin-right: 300px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 16px;
	text-align: left;
}
.portafolio .rayita{
	width: 15px;
	border: 1px solid #cfb282;
	margin: 30px 0;
}
.item{
	width: 340px;
	height: 260px;
	vertical-align: top;
	background-color: grey;
	margin-top: 20px;
	margin-right: 20px;
	float: left;
	position: relative;
}
.item img{
	width: 340px;
	height: 260px;
}
.cajaFantasmaPortafolio{
	width: 320px;
	height: 240px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -120px;
	margin-left: -160px;
	text-align: center;
	opacity: 0;
	transition: .5s ease;
}
.cajaFantasmaPortafolio .tittle{
	font-size: 20px;
	margin-top: 100px;
}
.cajaFantasmaPortafolio .subTitulo{
	font-size: 12px;
	margin-top: 5px;
}
.cajaFantasmaPortafolio .rayita{
	width: 20px;
	display: inline-block;
	border-bottom: 1px solid #cfb282;
}
.slogan{
	width: 1060px;
	margin: 80px auto;
	text-align: center;
}
.slogan .texto{
	font-size: 18px;
	background-color: #f0f0f0;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #cfb282;
	opacity: 0.6;
}
.services{
	width: 1060px;
	margin: 0 auto;
	margin-left: 60px;
}
.services .titulo{
	font-size: 30px;
	text-transform: uppercase;
}
.services .descripcion{
	margin-top: 30px;
	margin-right: 250px;
	font-size: 15px;
	color: grey;
	line-height: 18px;
}
.services .rayita{
	width: 10px;
	border-top: 1px solid #cfb282;
	margin: 30px 0;
}
.servicio {
	width: 250px;
	height: 80px;
	vertical-align: top;
	position: relative;
	margin-top: 40px;
	float: left;
	margin-right: 20px;
}
.servicio .imagen{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
	transition: all 0.2s linear;
}
.servicio .tituloDescripcion{
	width: 200px;
	position: absolute;
	left: 50px;
	top: 0px;
}
.tituloDescripcion .titulo{
	font-size: 18px;
	line-height: 18px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-weight: 700;
	margin-top: 0;
}
.tituloDescripcion .descripcion{
	width: 200px;
	font-size: 12px;
	position: absolute;
	top: 0px;
}
.subscripcionParalax{ 
	width: 1060px;
    margin: 0 auto;
    margin-top: 60px;
    height: 400px;
    background-image: url(../img/paralax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 80px;
}
.subscripcionParalax .titulo{
	font-size: 30px;
	text-transform: uppercase;
	padding-top: 150px;
	color: white;
}
.subscripcionParalax .descripcion{
	font-size: 18px;
	margin-top: 20px;
	color: white;
}
.formularioSubscripcion{
	margin-top: 60px;
}
.formularioSubscripcion .nombre{
	width: 200px;
	height: 40px;
	padding-left: 10px;
}
.formularioSubscripcion .mail{
	width: 200px;
	height: 40px;
	padding-left: 10px;
}
.formularioSubscripcion .enviar{
	width: 150px;
	height: 45px;
	padding-left: 10px;
	background-color: #cfb282;
	border: 0;
	text-transform: uppercase;
	color: white;
}
.sobreNosotros{
	width: 1060px;
	margin: 0 auto;
	margin-top: 80px;
	border-top: 1px solid grey;
}
.sobreNosotros .nosotros{
	width: 450px;
	vertical-align: top;
	float: left;
	margin-top: 100px;
}
.sobreNosotros .nosotros .titulo{
	font-size: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.sobreNosotros .nosotros p{
	margin-top: 20px;
	color: grey;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 2px;
}
.sobreNosotros .habilidades{
	width: 450px;
	float: right;
	margin-top: 100px;
}
.sobreNosotros .habilidades .titulo{
	font-size: 25px;
	margin-bottom: 20px;
}
.sobreNosotros .habilidades .nomHabilidad{
	width: 400px;
	float: left;
	margin-top: 20px;
}
.sobreNosotros .habilidades .porcentaje{
	width: 50px;
	float: right;
	margin-top: 20px;
}
.sobreNosotros .habilidades .pGris1{
	width: 340px;
	height: 18px;
	background-color: #b7b7b7;
	margin-top: 5px;
	float: left;
}
.sobreNosotros .habilidades .pDorado1{
	width: 110px;
	height: 18px;
	background-color: #cfb282;
	margin-top: 5px;
	float: right;
}
.sobreNosotros .habilidades .pGris2{
	width: 320px;
	height: 18px;
	background-color: #b7b7b7;
	margin-top: 5px;
	float: left;
}
.sobreNosotros .habilidades .pDorado2{
	width: 130px;
	height: 18px;
	background-color: #cfb282;
	margin-top: 5px;
	float: right;
}
.sobreNosotros .habilidades .pGris3{
	width: 380px;
	height: 18px;
	background-color: #b7b7b7;
	margin-top: 5px;
	float: left;
}
.sobreNosotros .habilidades .pDorado3{
	width: 70px;
	height: 18px;
	background-color: #cfb282;
	margin-top: 5px;
	float: right;
}
.team{
	width: 1060px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 100px;
}
.team .persona{
	width: 300px;
	height: 360px;
	float: left;
	margin-right: 80px;
	position: relative;
}
.team .persona .imgPersona{
	width: 300px;
	height: 360px;
}
.team .personaDerecha{
	width: 300px;
	height: 360px;
	float: right;
	position: relative;
}
.team .personaDerecha .imgPersona{
	width: 300px;
	height: 360px;
}
.cajaFanstasmaTeam{
	width: 280px;
	height: 340px;
	background-color: white;
	position: absolute;
	left: 10px;
	top: 10px;
	opacity: 0;
	text-align: center;
	transition: .5s ease;
}
.cajaFanstasmaTeam .nombre{
	width: 280px;
	font-size: 20px;
	color: grey;
	position: absolute;
	top: 120px;
}
.cajaFanstasmaTeam .rayita{
	position: absolute;
	top: 150px;
}
.cajaFanstasmaTeam .cargo{
	width: 200px;
	position: absolute;
	top: 160px;
	left: 50%;
	margin-left: -100px;
	color: grey;
}
.rayitaPersona{
	margin-left: 130px;
	width: 40px;
	display: inline-block;
	border-bottom: 1px solid #cfb282;
}
.iconosSocial{
	width: 250px;
	margin: 0 auto;
	text-align: center;	
}
.clientesTestimonios{
	width: 1060px;
	height: 500px;
	margin: 0 auto;
	border-top: 1px solid grey;
}
.clientesTestimonios .client{
	width: 540px;
	height: 200px;
	margin-top: 50px;
	vertical-align: top;
	float: left;
}
.client .titulo{
	text-transform: uppercase;
	font-size: 25px;
	margin-bottom: 40px;
}
.client .logosCaja{
	width: 540px;
}
.client .logo{
	width: 100px;
	height: 100px;
	text-align: center;
	margin-right: 20px;
	float: left;
}
.client .logo img{
	width: 60px;
	height: 60px;
}
.clientesTestimonios .testimonios{
	width: 400px;
	height: 300px;
	margin-top: 50px;
	vertical-align: top;
	float: right;
}
.testimonios .titulo{
	text-transform: uppercase;
	font-size: 25px;
	margin-bottom: 40px;
	text-align: right;
}
.testimonios .testimonio{
	color: grey;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 2px;
	text-align: right;
}
.testimonios .autor{
	color: grey;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 2px;
	text-align: right;
	margin-top: 10px;
}
.contacto{
	width: 1060px;
	margin: 0 auto;
}
.contacto .texto{
	width: 600px;
}
.contacto .datos{
	width: 400px;
	margin-top: 40px;
	vertical-align: top;
	float: left;
}
.contacto .datos .mapa{
	margin-top: 20px;
	width: 320px;
	height: 150px;

}
.formularioContacto{
	width: 600px;
	height: 400px;
	margin-top: 40px;
	margin-left: 40px;
	vertical-align: top;
	float: right;
}
.cajaform{
	width: 200px;
	display: inline-block;
	float: left;
}
.formularioContacto .nombre{
	width: 190px;
	height: 30px;
	margin-top: 10px;
}
.formularioContacto .mail{
	width: 190px;
	height: 30px;
	margin-top: 10px;
}
.formularioContacto .asunto{
	width: 190px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.formularioContacto .areaTexto{
	margin-top: 10px;
	width: 590px;
	height: 150px;
}
.formularioContacto .enviar{
	width: 120px;
	height: 40px;
	border: 1px solid black;
	background-color: white;
	text-transform: uppercase;
	margin-top: 40px;
	font-size: 14px;
	transition: all 0.2s linear;
}
.piePagina{
	width: 1060px;
	height: 25px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}
.piePagina h4{
	display: inline-block;
	font-size: 20px;
}
/* HELPERS */
.titulo{
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 40px 0;
}
.subtitulo{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 20px 0;
	color: grey;
}
.clear{
	clear: both;
}
.dorado{
	color: #cfb282;
}
.rayita{
	width: 20px;
	display: inline-block;
	border-bottom: 1px solid #cfb282;
}
.marginRC{
	margin-right: 0px;
}
.bgGold{
	background-color: #cfb282;
}
/* Hovers */
.flecha:hover{
	transition: .5s ease;
	margin-left: 10px;
}
.cajaFantasmaPortafolio:hover{
	transition: .5s ease;
	opacity: 0.9;
}
.cajaFantasma:hover{
	transition: .5s ease;
	opacity: 0.9;
}
.cajaFanstasmaTeam:hover{
	transition: .5s ease;
	opacity: 0.9;
}
.servicio:hover .imagen{
	transform: rotate(10deg);
	transition: all 0.2s linear;
}
.formularioContacto .enviar:hover{
	border: 1px solid #cfb282;
	color: #cfb282;
	transition: all 0.2s linear;
}
.goldSlider,.hoverGold:hover{color:#cfb282!important;background-color:#cfb282!important}